/*
* HTML5 Boilerplate
*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/


/* =============================================================================
HTML5 element display
========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
Base
========================================================================== */

/*
* 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
*    http://clagnut.com/blog/348/#c790
* 2. Force vertical scrollbar in non-IE
* 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
*    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
* 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
*    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
*/

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
* These selection declarations have to be separate
* No text-shadow: twitter.com/miketaylr/status/12228805301
* Also: hot pink!
*/

::-moz-selection { background: #e8e8e8; color: #333; text-shadow: none; }
::selection { background: #e8e8e8; color: #333; text-shadow: none; }


/* =============================================================================
Links
========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
Typography
========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: none; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
Lists
========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
Embedded content
========================================================================== */

/*
* Improve image quality when scaled in IE7
* code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
*/

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
* Correct overflow displayed oddly in IE9 
*/

svg:not(:root) {
	overflow: hidden;
}


/* =============================================================================
Figures
========================================================================== */

figure { margin: 0; }


/* =============================================================================
Forms
========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
* 1. Correct color not inheriting in IE6/7/8/9 
* 2. Correct alignment displayed oddly in IE6/7 
*/

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
* 1. Correct font-size not inheriting in all browsers
* 2. Remove margins in FF3/4 S5 Chrome
* 3. Define consistent vertical alignment display in all browsers
*/

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
* 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
* 2. Correct inner spacing displayed oddly in IE6/7
*/

button, input { line-height: normal; *overflow: visible; }

/*
* 1. Display hand cursor for clickable form elements
* 2. Allow styling of clickable form elements in iOS
*/

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
* Consistent box sizing and appearance
*/

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
* Remove inner padding and border in FF3/4
* www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
*/

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
Tables
========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
Primary styles
Author: 
========================================================================== */








/* =============================================================================
Non-semantic helper classes
Please define your styles before this section.
========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* --------------------------------------------------------------

reset.css
* Resets default browser CSS.

-------------------------------------------------------------- */

html { 
	margin:0; 
	padding:0; 
	border:0; 
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* This helps to make newer HTML5 elements behave like DIVs in older browers */ 
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	display:block;
}

/* Line-height should always be unitless! */
body {
	line-height: 1.5;
	background: white; 
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { 
	border-collapse: separate; 
	border-spacing: 0; 
}
/* float:none prevents the span-x classes from breaking table-cell display */
caption, th, td { 
	text-align: left; 
	font-weight: normal; 
	float:none !important; 
}
table, th, td { 
	vertical-align: middle; 
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

/* Remember to define your own focus styles! */
:focus { outline: 0; }/* --------------------------------------------------------------

typography.css
* Sets up some sensible default typography.

-------------------------------------------------------------- */

/* Default font settings.
The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html { font-size:100.01%; }
body {
	font-size: 75%;
	color: #222;
	background: #fff;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
	margin: 0;
}


/* Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 1.5em; }
/* 
These can be used to pull an image at the start of a paragraph, so 
that the text flows around it (usage: <p><img class="left">Text</p>) 
*/
.left  			{ float: left !important; }
p .left			{ margin: 1.5em 1.5em 1.5em 0; padding: 0; }
.right 			{ float: right !important; }
p .right 		{ margin: 1.5em 0 1.5em 1.5em; padding: 0; }

a:focus,
a:hover     { color: #09f; }
a           { color: #06c; text-decoration: underline; }

blockquote  { margin: 1.5em; color: #666; font-style: italic; }
strong,dfn	{ font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr,
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre 				{ margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }


/* Lists
-------------------------------------------------------------- */

li ul,
li ol       { margin:0; }
ul, ol      { margin: 0 1.5em 1.5em 0; padding-left: 1.5em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}


/* Tables
-------------------------------------------------------------- */

/* 
Because of the need for padding on TH and TD, the vertical rhythm 
on table cells has to be 27px, instead of the standard 18px or 36px 
of other elements. 
*/ 

table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
thead th 		{ background: #c3d9ff; }
th,td,caption { padding: 4px 10px 4px 5px; }
/*
You can zebra-stripe your tables in outdated browsers by adding 
the class "even" to every other table row. 
*/
tbody tr:nth-child(even) td, 
tbody tr.even td  { 
	background: #e5ecf9; 
}
tfoot       { font-style: italic; }
caption     { background: #eee; }


/* Misc classes
-------------------------------------------------------------- */

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background:#ff0; }
.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }
/* --------------------------------------------------------------

grid.css
* Sets up an easy-to-use grid of 24 columns.

By default, the grid is 950px wide, with 24 columns
spanning 30px, and a 10px margin between columns.

If you need fewer or more columns, namespaces or semantic
element names, use the compressor script (lib/compress.rb)

-------------------------------------------------------------- */

/* A container should group all your columns. */
.container {
	width: 1120px;
	margin: 0 auto;
}

/* Use this class on any .span / container to see the grid. */
.showgrid {
	background: url(grid.png);
}


/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {
	float: left;
	margin-right: 8px;
}

/* The last column in a row needs this class. */
.last { margin-right: 0; }

/* Use these classes to set the width of a column. */
.span-1  {width: 39px;}
.span-2  {width: 86px;}
.span-3  {width: 133px;}
.span-4  {width: 180px;}
.span-5  {width: 227px;}
.span-6  {width: 274px;}
.span-7  {width: 321px;}
.span-8  {width: 368px;}
.span-9  {width: 415px;}
.span-10  {width: 462px;}
.span-11  {width: 509px;}
.span-12  {width: 556px;}
.span-13  {width: 603px;}
.span-14  {width: 650px;}
.span-15  {width: 697px;}
.span-16  {width: 744px;}
.span-17  {width: 791px;}
.span-18  {width: 838px;}
.span-19  {width: 885px;}
.span-20  {width: 932px;}
.span-21  {width: 979px;}
.span-22  {width: 1026px;}
.span-23  {width: 1073px;}
.span-24  {width: 1120px;}

/* Use these classes to set the width of an input. */
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24 {
	border-left-width: 1px;
	border-right-width: 1px;
	padding-left: 5px;
	padding-right: 5px;
}

input.span-1, textarea.span-1 { width: 27px; }
input.span-2, textarea.span-2 { width: 74px; }
input.span-3, textarea.span-3 { width: 121px; }
input.span-4, textarea.span-4 { width: 168px; }
input.span-5, textarea.span-5 { width: 215px; }
input.span-6, textarea.span-6 { width: 262px; }
input.span-7, textarea.span-7 { width: 309px; }
input.span-8, textarea.span-8 { width: 356px; }
input.span-9, textarea.span-9 { width: 403px; }
input.span-10, textarea.span-10 { width: 450px; }
input.span-11, textarea.span-11 { width: 497px; }
input.span-12, textarea.span-12 { width: 544px; }
input.span-13, textarea.span-13 { width: 591px; }
input.span-14, textarea.span-14 { width: 638px; }
input.span-15, textarea.span-15 { width: 685px; }
input.span-16, textarea.span-16 { width: 732px; }
input.span-17, textarea.span-17 { width: 779px; }
input.span-18, textarea.span-18 { width: 826px; }
input.span-19, textarea.span-19 { width: 873px; }
input.span-20, textarea.span-20 { width: 920px; }
input.span-21, textarea.span-21 { width: 967px; }
input.span-22, textarea.span-22 { width: 1014px; }
input.span-23, textarea.span-23 { width: 1061px; }
input.span-24, textarea.span-24 { width: 1108px; }

/* Add these to a column to append empty cols. */

.append-1  { padding-right: 47px; } 
.append-2  { padding-right: 94px; } 
.append-3  { padding-right: 141px; } 
.append-4  { padding-right: 188px; } 
.append-5  { padding-right: 235px; } 
.append-6  { padding-right: 282px; } 
.append-7  { padding-right: 329px; } 
.append-8  { padding-right: 376px; } 
.append-9  { padding-right: 423px; } 
.append-10  { padding-right: 470px; } 
.append-11  { padding-right: 517px; } 
.append-12  { padding-right: 564px; } 
.append-13  { padding-right: 611px; } 
.append-14  { padding-right: 658px; } 
.append-15  { padding-right: 705px; } 
.append-16  { padding-right: 752px; } 
.append-17  { padding-right: 799px; } 
.append-18  { padding-right: 846px; } 
.append-19  { padding-right: 893px; } 
.append-20  { padding-right: 940px; } 
.append-21  { padding-right: 987px; } 
.append-22  { padding-right: 1034px; } 
.append-23  { padding-right: 1081px; } 

/* Add these to a column to prepend empty cols. */

.prepend-1  { padding-left: 47px; } 
.prepend-2  { padding-left: 94px; } 
.prepend-3  { padding-left: 141px; } 
.prepend-4  { padding-left: 188px; } 
.prepend-5  { padding-left: 235px; } 
.prepend-6  { padding-left: 282px; } 
.prepend-7  { padding-left: 329px; } 
.prepend-8  { padding-left: 376px; } 
.prepend-9  { padding-left: 423px; } 
.prepend-10  { padding-left: 470px; } 
.prepend-11  { padding-left: 517px; } 
.prepend-12  { padding-left: 564px; } 
.prepend-13  { padding-left: 611px; } 
.prepend-14  { padding-left: 658px; } 
.prepend-15  { padding-left: 705px; } 
.prepend-16  { padding-left: 752px; } 
.prepend-17  { padding-left: 799px; } 
.prepend-18  { padding-left: 846px; } 
.prepend-19  { padding-left: 893px; } 
.prepend-20  { padding-left: 940px; } 
.prepend-21  { padding-left: 987px; } 
.prepend-22  { padding-left: 1034px; } 
.prepend-23  { padding-left: 1081px; } 


/* Border on right hand side of a column. */
.border {
	padding-right: 3px;
	margin-right: 4px;
	border-right: 1px solid #ddd;
}

/* Border with more whitespace, spans one column. */
div.colborder {
	padding-right: 26px;
	margin-right: 28px;
	border-right: 1px solid #eee;
}


/* Use these classes on an element to push it into the
next column, or to pull it into the previous column.  */

.pull-1 { margin-left: -47px; }
.pull-2 { margin-left: -94px; }
.pull-3 { margin-left: -141px; }
.pull-4 { margin-left: -188px; }
.pull-5 { margin-left: -235px; }
.pull-6 { margin-left: -282px; }
.pull-7 { margin-left: -329px; }
.pull-8 { margin-left: -376px; }
.pull-9 { margin-left: -423px; }
.pull-10 { margin-left: -470px; }
.pull-11 { margin-left: -517px; }
.pull-12 { margin-left: -564px; }
.pull-13 { margin-left: -611px; }
.pull-14 { margin-left: -658px; }
.pull-15 { margin-left: -705px; }
.pull-16 { margin-left: -752px; }
.pull-17 { margin-left: -799px; }
.pull-18 { margin-left: -846px; }
.pull-19 { margin-left: -893px; }
.pull-20 { margin-left: -940px; }
.pull-21 { margin-left: -987px; }
.pull-22 { margin-left: -1034px; }
.pull-23 { margin-left: -1081px; }
.pull-24 { margin-left: -1128px; }

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {float: left; position:relative;}

.push-1 { margin: 0 -47px 1.5em 47px; }
.push-2 { margin: 0 -94px 1.5em 94px; }
.push-3 { margin: 0 -141px 1.5em 141px; }
.push-4 { margin: 0 -188px 1.5em 188px; }
.push-5 { margin: 0 -235px 1.5em 235px; }
.push-6 { margin: 0 -282px 1.5em 282px; }
.push-7 { margin: 0 -329px 1.5em 329px; }
.push-8 { margin: 0 -376px 1.5em 376px; }
.push-9 { margin: 0 -423px 1.5em 423px; }
.push-10 { margin: 0 -470px 1.5em 470px; }
.push-11 { margin: 0 -517px 1.5em 517px; }
.push-12 { margin: 0 -564px 1.5em 564px; }
.push-13 { margin: 0 -611px 1.5em 611px; }
.push-14 { margin: 0 -658px 1.5em 658px; }
.push-15 { margin: 0 -705px 1.5em 705px; }
.push-16 { margin: 0 -752px 1.5em 752px; }
.push-17 { margin: 0 -799px 1.5em 799px; }
.push-18 { margin: 0 -846px 1.5em 846px; }
.push-19 { margin: 0 -893px 1.5em 893px; }
.push-20 { margin: 0 -940px 1.5em 940px; }
.push-21 { margin: 0 -987px 1.5em 987px; }
.push-22 { margin: 0 -1034px 1.5em 1034px; }
.push-23 { margin: 0 -1081px 1.5em 1081px; }
.push-24 { margin: 0 -1128px 1.5em 1128px; }

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {float: left; position:relative;}


/* Misc classes and elements
-------------------------------------------------------------- */

/* In case you need to add a gutter above/below an element */
div.prepend-top, .prepend-top {
	margin-top:1.5em;
}
div.append-bottom, .append-bottom {
	margin-bottom:1.5em;
}

/* Use a .box to create a padded box inside a column.  */
.box {
	padding: 1.5em;
	margin-bottom: 1.5em;
	background: #e5eCf9;
}

/* Use this to create a horizontal ruler across a column. */
hr {
	background: #ddd;
	color: #ddd;
	clear: both;
	float: none;
	width: 100%;
	height: 1px;
	margin: 0 0 1.4em;
	border: none;
}
hr.space {
	background: #fff;
	color: #fff;
	visibility: hidden;
}


/* Clearing floats without extra markup
Based on How To Clear Floats Without Structural Markup by PiE
[http://www.positioniseverything.net/easyclearing.html] */

.clearfix:after, .container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow:hidden;
}
.clearfix, .container {display: block;}

/* Regular clearing
apply to column that should drop below previous ones. */

.clear { clear:both; }
/* --------------------------------------------------------------

forms.css
* Sets up some default styling for forms
* Gives you classes to enhance your forms

Usage:
* For text fields, use class .title or .text
* For inline forms, use .inline (even when using columns)

-------------------------------------------------------------- */

/* 
A special hack is included for IE8 since it does not apply padding 
correctly on fieldsets
*/ 
label       { font-weight: bold; }
fieldset    { padding:0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; margin-top:-0.2em; margin-bottom:1em; }

fieldset, #IE8#HACK { padding-top:1.4em; } 
legend, #IE8#HACK { margin-top:0; margin-bottom:0; }

/* Form fields
-------------------------------------------------------------- */

/* 
Attribute selectors are used to differentiate the different types 
of input elements, but to support old browsers, you will have to 
add classes for each one. ".title" simply creates a large text  
field, this is purely for looks.
*/
input[type=text], input[type=password],
input.text, input.title,
textarea {
	background-color:#fff;
	border:1px solid #bbb;
}
input[type=text]:focus, input[type=password]:focus,
input.text:focus, input.title:focus,
textarea:focus {
	border-color:#666;
}
select { background-color:#fff; border-width:1px; border-style:solid; }

input[type=text], input[type=password],
input.text, input.title,
textarea, select {
	margin:0.5em 0;
}

input.text,
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { width: 390px; height: 250px; padding:5px; }

/* 
This is to be used on forms where a variety of elements are 
placed side-by-side. Use the p tag to denote a line. 
*/
form.inline { line-height:3; }
form.inline p { margin-bottom:0; }


/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */

.error,
.alert, 
.notice,
.success, 
.info 			{ padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice     { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success    { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info 			{ background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
.info a			{ color: #205791; }
