<div id="auth-options" class="span-10">
	<h3>Sign in</h3>
	<h4>In order to chat with <strong class="logo">jegit</strong> you must first sign in.</h4>
	
	<%= link_to image_tag("facebook.png", :alt => "Use your facebook account to sign in"), url("auth/facebook")%>
</div>

<div class="span-5 prepend-1 last">
	<h2>Logging in Will</h2>
	<ul>
		<li>Allow you to chat</li>
		<li>Provide a username</li>
		<li>Keep you logged in until you close your browser</li>
	</ul>
</div>