<div id="auth-options" class="span-10">
	<h3>Sign in</h3>
	<h4>In order to chat with <strong class="logo">jegit</strong> you must first sign in.</h4>
	
	<a href="/auth/facebook"><img src="/facebook.png" alt="Use your facebook account to sign in"></a>
	
	<h3>Don't have a facebook account?</h3>
	<h4>Sign up below:</h4>
	<form action="/auth/sign-in" method="POST">
		<input type="hidden" name="location" id="location" />
		
		<div class="fields">
			<label for="nickname">Nickname</label>
			<input type="text" name="nickname" id="nickname" required="required" placeholder="captian oblivious" />
		</div>
		<div class="fields">
			<label for="gender">Gender (optional)</label>
			<select name="gender" id="gender">
				<option value="none">Gender</option>
				<option value="male">Male</option>
				<option value="female">Female</option>
				<option value="none">None of your Business</option>
			</select>
		</div>
		
		<div class="actions">
			<input type="submit" value="Start Chatting">
		</div>
	</form>
</div>

<div class="span-5 prepend-1 last">
	<h2>Logging in Will</h2>
	<ul>
		<li>Allow you to chat</li>
		<li>Provide a username</li>
		<li>Keep you logged in until you close your browser</li>
	</ul>
	
	<h2>Logging in Will Not</h2>
	<ul>
		<li>Give us access to your networks</li>
		<li>Allow us to post on your pages</li>
		<li>Allow us to record your activity</li>
	</ul>
</div>