<h3>Sign in</h3>
<h4>In order to chat with <strong class="logo">jegit</strong> you must first sign in.</h4>

<div id="auth-options" class="sevencol">
	<h4>Enter nickname below and hit enter:</h4>
	<form action="/auth/sign-in" method="POST">
		<input type="text" name="nickname" id="nickname" required="required" placeholder="captian oblivious" />
		<select name="gender" id="gender">
			<option value="none">None of your Business</option>
			<option value="male">Male</option>
			<option value="female">Female</option>
		</select>
		<input type="hidden" name="location" id="location" />
	</form>
</div>

<div class="fourcol">
	<h2>Logging in Will</h2>
	<ul>
		<li>Allow you to chat</li>
		<li>Provide a username</li>
		<li>Keep you logged in until you close your browser</li>
	</ul>
	
	<h2>Logging in Will Not</h2>
	<ul>
		<li>Give us access to your networks</li>
		<li>Allow us to post on your pages</li>
		<li>Allow us to record your activity</li>
	</ul>
</div>