<h3>Sign in</h3>
<h4>In order to chat with <strong class="logo">jegit</strong> you must first sign in.</h4>

<div id="auth-options">
	<a href="/auth/facebook">Sign in with Facebook</a>
	<a href="/auth/twitter">Sign in with Twitter</a>
	<a href="/auth/google_apps">Sign in with Google Apps</a>
</div>
