<h1>Room # <a href="<%= "#{request.scheme}://#{request.host}:#{request.port}/room/#{@connection}" %>"><%= @connection%></a></h1>
<ul id="manuscript"></ul>

<input type="text" name="say-something" id="say-something" placeholder="Say something..." required="required" />


<div pub-key="pub-32d1b09f-63b7-4015-8e59-bd603a2ec66e" sub-key="sub-7e2e745c-c38c-11e0-a0a5-53ec83638759" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
<script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>
<script>
	var channel = "chatterbee-chatter-room-<%= @connection %>";
	var user = "<%= request.cookies["username"] || "Me" %>";
</script>