<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>jegit : Chat Freely</title>
	<meta name="description" content="create anonymous one-on-one and group chats.">
	<meta name="author" content="">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta property="og:title" content="jegit: Chat Freely"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<%= request.url %>"/>
    <meta property="og:image" content="http://jegit.com/logo.png"/>
    <meta property="og:site_name" content="jegit"/>
    <meta property="fb:admins" content="1439910669"/>
    <meta property="og:description" content="Who said you shouldn't talk to strangers?  Jegit allows you to talk to strangers like never before.  Check it out.  It's free!  Powered by pubnub." />
	
	<link rel="stylesheet" href="/style.css">
	<link href="http://fonts.googleapis.com/css?family=Permanent+Marker:regular|Jura:300,400,500,60&v1" rel="stylesheet" type="text/css">
	<script src="/javascripts/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>

<div class="container">
	<header class="row">
		<h1 class="logo eightcol"><a href="/"><img src="/logo.png" alt="jegit- chat freely">jegit. <span>chat freely.</span></a></h1>
	</header>
	<div id="main" role="main" class="row">
		<div class="ninecol">
			<%= yield %>
		</div>
		<div class="twocol" id="proms">
			<fb:like href="http://jegit.com" send="true" layout="button_count" width="320" show_faces="false" action="like" font=""></fb:like>
			<!-- Begin: adBrite, Generated: 2011-08-13 11:48:57  -->
			<script type="text/javascript">
			var AdBrite_Title_Color = '66B5FF';
			var AdBrite_Text_Color = 'FFFFFF';
			var AdBrite_Background_Color = 'f8f8f8';
			var AdBrite_Border_Color = 'E6E6E6';
			var AdBrite_URL_Color = '063E3F';
			try{var AdBrite_Iframe=window.top!=window.self?2:1;var AdBrite_Referrer=document.referrer==''?document.location:document.referrer;AdBrite_Referrer=encodeURIComponent(AdBrite_Referrer);}catch(e){var AdBrite_Iframe='';var AdBrite_Referrer='';}
			</script>
			<script type="text/javascript">document.write(String.fromCharCode(60,83,67,82,73,80,84));document.write(' src="http://ads.adbrite.com/mb/text_group.php?sid=1995603&zs=3132305f363030&ifr='+AdBrite_Iframe+'&ref='+AdBrite_Referrer+'" type="text/javascript">');document.write(String.fromCharCode(60,47,83,67,82,73,80,84,62));</script>
			<div><a target="_top" href="http://www.adbrite.com/mb/commerce/purchase_form.php?opid=1995603&afsid=1" style="font-weight:bold;font-family:Arial;font-size:13px;">Your Ad Here</a></div>
			<!-- End: adBrite -->
		</div>
	</div>
	<footer class="row" id="footer">
		<div class="ninecol">
			<a href="http://pubnub.com?ref=jegit.com"><img src="/pubnub.png" alt="Powered by Pubnub"/></a>
			<a href="/privacy">Privacy Policy</a>
		</div>
	</footer>
</div> <!--! end of #container -->

<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=261061570588802&amp;xfbml=1"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/libs/jquery-1.6.2.min.js"><\/script>')</script>

<!-- scripts concatenated and minified via ant build script-->
<script src="/javascripts/plugins.js"></script>
<script src="/javascripts/application.js"></script>
<!-- end scripts-->

<script>
	var _gaq=[['_setAccount','UA-19606493-6'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>
