@import "base";

body
{
	background:#f8f8f8;
	color:#222;
	font-family: 'Jura', serif;
	margin:50px auto;
	
	h1
	{
		font-family: 'Permanent Marker', serif;
	}
	
	.logo
	{
		
		color:#222;
		
		span
		{
			color:#FF1493;
		}
		
		a
		{
			color:#222 !important;
		}
	}
}

.logo
{
	color:#FF1493 !important;
}

a
{
	color:#0d98ba !important;
	text-decoration:none;
}

#sign-in-with-facebook
{
	background:#e8e8e8;
	display:block;
	font-size:1.4em;
	margin:10px;
	padding:10px;
}

#say-something, #manuscript, #username
{
	background:#fff;
	border:1px solid #e8e8e8;
	font-size:1.3em;
	padding:10px;
}

#say-something
{
	width:95%;
}

#username
{
	margin:0;
	width:15%;
}

#manuscript
{
	min-width:90%;
	max-width:100%;
	margin:20px 0;
	min-height:300px;
	max-height:500px;
	overflow:auto;
	
	li
	{
		border-bottom:1px solid #f8f8f8;
		color:#333;
		font-size:0.9em;
		list-style:none;
		margin:5px;
		padding:5px;
		
		strong
		{
			color:#666;
			display:inline-block;
			font-weight:normal;
			margin-right:10px;
			
			&.user
			{
				color:#0095B6;
			}
		}
		
		span
		{
			color:#ccc;
			font-weight:normal;
		}
		
		
	}
	
	.stranger
	{
		color:#666;
	}
}


footer
{
	padding:10px;
}