@import "base";

body
{
	background:#f8f8f8;
	margin:50px auto;
}

#message, #manuscript
{
	background:#fff;
	border:1px solid #e8e8e8;
	padding:10px;
	margin:50px 0;
	min-width:90%;
	max-width:100%;
}

#manuscript
{
	margin:50px 0 0 0;
	min-height:500px;
}